.inputContainer{
   height: 45px;
   border: 1px solid var(--border-color-primary);
   display: flex;
   align-items: center;
   width: 100%;
   border-radius: 10px;
   background-color: var(--card-background);
}

/* .inputContainer:hover{
    border: 3px solid var(--text-hover);
} */

.focused{
    border: 3px solid var(--text-hover);
}

.input{
    border: none;
    background-color: transparent;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.input:focus{
    /* border: 1px solid var(--text-hover); */
    /* border-radius: 10px; */
    outline: none;
}