.menuClass{
    background-color: var(--popover-color) !important;
    border: 1px solid var(--border-color-primary);
    padding: 0px !important;
}


.menuItem{
    background-color: var(--popover-color) !important;
    display: flex;
   column-gap: 10px;
    width: 88%;
    padding: 10px;
}


.menuButton{
    background-color: var(--background-primary) !important;
    border: none;
    padding: none !important;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.menuButton{
    background-color: red;
}

.menuButton:hover {
    color: green;
    cursor: pointer;
}

.menuButton:hover .sortIcon {
    stroke: green;
}
/* .menuTitle:hover{
    color: var(--text-hover);
    stroke: var(--text-hover);
} */
/* .menuButton:hover{
    color: var(--text-hover);
    stroke: var(--text-hover);
    
}
.menuButton svg:hover{
    stroke: var(--text-hover);
    color: var(--text-hover);
} */

.menuItem:hover{
    background-color: var(--text-hover) !important;
}