.container{
    /* border-bottom: 1px solid #d9d9d9; */
    box-shadow: 0 2px 12px rgba(0, 0, 0, .08);
    border-bottom: 1px solid var(--border-color-primary);
    position: fixed;
    width: 100%;
    background-color: var(--background-secondary);
    z-index: 10;
    /* padding: 15px 0px; */
}


.navContainer nav{
    max-width: 1128px;
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    column-gap: 10px;
}

